<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <PawnEditor>Pawn Editor</PawnEditor>
    <PawnEdtior.OverrideVanilla>Override vanilla window</PawnEdtior.OverrideVanilla>
    <PawnEditor.OverrideVanilla.Desc>Override the vanilla character creation screen with the pawn editor screen. If false, there will be a Pawn Editor button on the bottom the screen to open the editor.</PawnEditor.OverrideVanilla.Desc>
    <PawnEditor.InGameDevButton>In-game dev button</PawnEditor.InGameDevButton>
    <PawnEditor.InGameDevButton.Desc>Enable the button in dev mode to open the pawn editor window.</PawnEditor.InGameDevButton.Desc>
    <PawnEditor.PointLimit>Point limit</PawnEditor.PointLimit>
    <PawnEditor.UseSilver>Use silver for points</PawnEditor.UseSilver>
    <PawnEditor.UseSilver.Desc>Point limit will be amount of silver in the current colony, and usage of points will deduct silver.</PawnEditor.UseSilver.Desc>
    <PawnEditor.CountNPCs>Count NPC pawns in points</PawnEditor.CountNPCs>
    <PawnEditor.CountNPCs.Desc>If enabled, then NPC pawns will also impact your point limit.</PawnEditor.CountNPCs.Desc>
    <PawnEditor.ShowEditButton>Show edit gizmo</PawnEditor.ShowEditButton>
    <PawnEditor.ShowEditButton.Desc>Show a button in the bar of buttons on the bottom to open the pawn editor to a selected pawn.</PawnEditor.ShowEditButton.Desc>
    <PawnEditor.ResetConfirmation>Reset all confirmation messages</PawnEditor.ResetConfirmation>
    <PawnEditor.HediffLocation>Limit possible hediff parts to...</PawnEditor.HediffLocation>
    <PawnEditor.HediffLocation.All>all</PawnEditor.HediffLocation.All>
    <PawnEditor.HediffLocation.RecipeDef>install locations</PawnEditor.HediffLocation.RecipeDef>
    <PawnEditor.EnforceHARRestrictions>Enforce HAR restrictions</PawnEditor.EnforceHARRestrictions>
    <PawnEditor.EnforceHARRestrictions.Desc>When true, HAR's restrictions for things like apparel and thoughts will be enforced in the editor.</PawnEditor.EnforceHARRestrictions.Desc>
    <PawnEditor.HideRandomFactions>Hide non-colony faction names</PawnEditor.HideRandomFactions>
    <PawnEditor.HideRandomFactions.Desc>Whether to hide non-colony factions while editing pawns before starting.</PawnEditor.HideRandomFactions.Desc>
</LanguageData>